.login-page form input {
    width: 100%;
    height: 45px;
    border: 1px solid #ccc;
    outline: none;
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 0px 10px;
    font-size: 14px;
}

.login-page form button {
    width: 100%;
    height: 45px;
    background-color: #960f16;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
}

.login-page h1 {
    font-size: 30px;
    font-weight: 600;
    color: #000;
    margin-bottom: 15px;
}